config/.flows.json.backup
[{"id":"31290d4f.95df12","type":"tab","label":"Canonical Credit Check","disabled":false,"info":""},{"id":"744dde64.a0c58","type":"tab","label":"First Flow","disabled":false,"info":""},{"id":"b4255e10.19432","type":"tab","label":"Hello Flow","disabled":false,"info":""},{"id":"ac445a36.ef5578","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7db3e6f0.cce708","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"624d3c54.9faa94","type":"soap-config","z":"7db3e6f0.cce708","wsdl":"http://www.webservicex.net/globalweather.asmx?WSDL","auth":"0","user":"","pass":"","cert":"","token":""},{"id":"c48a3968.bcaef8","type":"inject","z":"744dde64.a0c58","name":"Event Injector","topic":"API Delays","payload":"{\"api\":\"OrderGET\",\"time_delay\":{\"initial\":10,\"subsequent\":15}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":100,"wires":[["be270e54.eccec"]]},{"id":"be270e54.eccec","type":"debug","z":"744dde64.a0c58","name":"Display Handler","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":800,"y":140,"wires":[]},{"id":"a24b4433.85ee48","type":"http in","z":"b4255e10.19432","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["b336b6e4.7e3958"]]},{"id":"5a828e5f.8d368","type":"http response","z":"b4255e10.19432","name":"Search Responder","statusCode":"200","headers":{"X-special":"polo"},"x":850,"y":120,"wires":[]},{"id":"b336b6e4.7e3958","type":"change","z":"b4255e10.19432","name":"","rules":[{"t":"set","p":"myVar","pt":"global","to":"Ahoy There!","tot":"str"},{"t":"set","p":"payload","pt":"global","to":"myVar","tot":"global"},{"t":"change","p":"payload","pt":"global","from":"[A-Z]","fromt":"re","to":"i","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["fcf38cea.d508e"]]},{"id":"fcf38cea.d508e","type":"function","z":"b4255e10.19432","name":"","func":"msg.payload = msg.payload + ' How are you today?';\nnode.log('We are asking how you are')\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["5a828e5f.8d368","e80c87ba.1844c8"]]},{"id":"a22d8e0f.83628","type":"inject","z":"ac445a36.ef5578","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":"","x":210,"y":220,"wires":[[]]},{"id":"c6a98cb3.c48b7","type":"http request","z":"ac445a36.ef5578","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":380,"y":220,"wires":[["376cdc26.eaf934","98c1db8c.d37038"]]},{"id":"376cdc26.eaf934","type":"csv","z":"ac445a36.ef5578","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":550,"y":220,"wires":[["1c598ba5.69dd34","3fdca2db.78334e"]]},{"id":"1c598ba5.69dd34","type":"debug","z":"ac445a36.ef5578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":220,"wires":[]},{"id":"3fdca2db.78334e","type":"switch","z":"ac445a36.ef5578","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":280,"wires":[["4eea8e9c.99229"]]},{"id":"4eea8e9c.99229","type":"change","z":"ac445a36.ef5578","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["92760ee2.86d7"]]},{"id":"92760ee2.86d7","type":"debug","z":"ac445a36.ef5578","name":"","active":true,"complete":false,"x":830,"y":280,"wires":[]},{"id":"98c1db8c.d37038","type":"debug","z":"ac445a36.ef5578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":140,"wires":[]},{"id":"cff329d1.967e18","type":"xml","z":"ac445a36.ef5578","name":"","property":"payload","attr":"","chr":"","x":380,"y":400,"wires":[[]]},{"id":"f28c870b.b139a8","type":"http in","z":"7db3e6f0.cce708","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":160,"y":140,"wires":[[]]},{"id":"e224a3e0.3997b","type":"template","z":"7db3e6f0.cce708","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":330,"y":140,"wires":[["9efc22d8.923ec"]]},{"id":"9efc22d8.923ec","type":"http response","z":"7db3e6f0.cce708","name":"","x":470,"y":140,"wires":[]},{"id":"7702ec0b.2cd9b4","type":"inject","z":"7db3e6f0.cce708","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":170,"y":240,"wires":[["e6d0339d.4c5fa"]]},{"id":"e6d0339d.4c5fa","type":"function","z":"7db3e6f0.cce708","name":"SOAP Params","func":"return { \n    \"payload\":{\n        \"CityName\":\"Curitiba\",\n        \"CountryName\":\"Brazil\"\n    }\n};","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["9f77462e.d7b118"]]},{"id":"d58eda8.aa8a128","type":"xml","z":"7db3e6f0.cce708","name":"","attr":"","chr":"","x":610,"y":220,"wires":[["22f177df.d8c3a8"]]},{"id":"7ff32fb.da5c9d","type":"function","z":"7db3e6f0.cce708","name":"Result","func":"return { \"payload\": msg.payload.GetWeatherResult };","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["d58eda8.aa8a128"]]},{"id":"22f177df.d8c3a8","type":"debug","z":"7db3e6f0.cce708","name":"","active":true,"console":"false","complete":"false","x":750,"y":340,"wires":[]},{"id":"9f77462e.d7b118","type":"soap request","z":"7db3e6f0.cce708","name":"SOAP Call","topic":"","wsdl":"624d3c54.9faa94","method":"GetWeather","x":400,"y":220,"wires":[["7ff32fb.da5c9d","803f2a78.f79ce8"]]},{"id":"803f2a78.f79ce8","type":"debug","z":"7db3e6f0.cce708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":480,"wires":[]},{"id":"c14899b5.53fc68","type":"inject","z":"7db3e6f0.cce708","name":"","topic":"","payload":"{\"name\":\"Bob\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":600,"wires":[["6dcd4fd4.549cb"]]},{"id":"6dcd4fd4.549cb","type":"change","z":"7db3e6f0.cce708","name":"","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"Polo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[["a4ddee68.a4245"]]},{"id":"a4ddee68.a4245","type":"debug","z":"7db3e6f0.cce708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":600,"wires":[]},{"id":"e80c87ba.1844c8","type":"debug","z":"b4255e10.19432","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":240,"wires":[]},{"id":"b05d8c3f.9ca9d","type":"http in","z":"31290d4f.95df12","name":"Canonical Endpoint","url":"/api/creditcheck","method":"post","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["f12f718.f61dc9","e3fb0887.065118"]]},{"id":"c9335264.a6711","type":"template","z":"31290d4f.95df12","name":"Carrier Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<creditcheckrequest xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n  <fullName>{{ payload.identity.firstName }} {{ payload.identity.lastName }}</fullName>\n  <address>\n    <addressLine1>{{ payload.address.street }}</addressLine1>\n    <city>{{ payload.address.city }}</city>\n    <state>{{ payload.address.state }}</state>\n    <postalCode>{{ payload.address.zip }}</postalCode>\n  </address>\n  <driverLicStateNumber>{{ payload.identity.driverLicenseState }}-{{ payload.identity.driverLicenseNumber }}</driverLicStateNumber>\n</creditcheckrequest>","output":"str","x":660,"y":520,"wires":[["e3fb0887.065118","a1add43d.a98648"]]},{"id":"752a7b16.785c84","type":"http request","z":"31290d4f.95df12","name":"Call Carrier (ATT)","method":"POST","ret":"txt","url":"localhost:7000/att","tls":"","x":170,"y":740,"wires":[["7e6b5dc4.9dcfb4"]]},{"id":"a8df47b5.7fb428","type":"http response","z":"31290d4f.95df12","name":"Canonical Response","statusCode":"200","headers":{"Content-Type":"application/json"},"x":920,"y":800,"wires":[]},{"id":"8ffbd7a6.9bc498","type":"template","z":"31290d4f.95df12","name":"Build Canonical Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n   \"api\": \"canonical_creditCheck\",\n   \"response\": {\n       \"customerName\": \"{{ flow.customerFirstName }} {{ flow.customerLastName }}\",\n       \"approvalStatus\": \"{{ payload.CreditCheck.Status }}\",\n       \"accountNumber\": \"{{ payload.CreditCheck.AccountNumber }}\"\n   }\n}","output":"str","x":640,"y":740,"wires":[["a8df47b5.7fb428"]]},{"id":"7e6b5dc4.9dcfb4","type":"xml","z":"31290d4f.95df12","name":"XML-to-JS Obj","property":"payload","attr":"","chr":"","x":380,"y":800,"wires":[["8ffbd7a6.9bc498","e3fb0887.065118"]]},{"id":"f12f718.f61dc9","type":"change","z":"31290d4f.95df12","name":"Store Request Data","rules":[{"t":"set","p":"customerFirstName","pt":"flow","to":"payload.identity.firstName","tot":"msg"},{"t":"set","p":"customerLastName","pt":"flow","to":"payload.identity.lastName","tot":"msg"},{"t":"set","p":"carrier","pt":"msg","to":"payload.carrier","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":460,"wires":[["c9335264.a6711"]]},{"id":"e3fb0887.065118","type":"debug","z":"31290d4f.95df12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":960,"wires":[]},{"id":"a1add43d.a98648","type":"switch","z":"31290d4f.95df12","name":"Carrier Selector","property":"carrier","propertyType":"msg","rules":[{"t":"eq","v":"ATT","vt":"str"},{"t":"eq","v":"SPT","vt":"str"},{"t":"eq","v":"VZN","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":940,"y":460,"wires":[["752a7b16.785c84"],["2bf51e41.cd12c2"],["179c0512.0b805b"]]},{"id":"2bf51e41.cd12c2","type":"http request","z":"31290d4f.95df12","name":"Call Carrier (SPT)","method":"POST","ret":"txt","url":"localhost:7000/sprint","tls":"","x":170,"y":800,"wires":[["7e6b5dc4.9dcfb4"]]},{"id":"179c0512.0b805b","type":"http request","z":"31290d4f.95df12","name":"Call Carrier (VZN)","method":"POST","ret":"txt","url":"localhost:7000/verizon","tls":"","x":170,"y":860,"wires":[["7e6b5dc4.9dcfb4"]]}]